{%  extends "layout.twig" %}

{% block title %}Agregar Solicitud{% endblock %}

{% block content %}

    {% if errors or errors2 %}
        {% include('partials/errors.twig')  %}
    {% endif %}
    <h3 class="form-signin-heading">Registro de Nueva Solicitud</h3>
    <p>
        <a class="btn btn-default" href="{{ 'admin' | url  }}">Regresar</a>
    </p>

    {% if result %}
        <div class="alert alert-success">Solicitud creada!</div>
    {% else %}
        <div class="container">
            <form enctype="multipart/form-data" method="post" onsubmit="return validateForm()">

                <div class="form-group">
                    <label for="inputarchivo">Archivo</label>
                    <input class="form-control-file" type="file" name="archivo" id="inputarchivo" autofocus>
                </div>

                <div class="form-group">
                    <label for="inputfecha_solicitud_del">Fecha Solicitud</label>
                    <input class="form-control" type="date" name="fecha_solicitud_del" id="inputfecha_solicitud_del" value="{{ fecha_solicitud_del }}">
                </div>

                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="tipo_movimiento" id="radiotipo_movimiento_Nulo" value="0" hidden checked>
                        <label class="form-check-label" for="radiotipo_movimiento_Nulo">Tipo de Movimiento</label>
                    </div>
                    {% for movimiento in movimientos %}
                        {% if movimiento.id_movimiento == tipo_movimiento %}
                            {% set j = 'checked' %}
                        {% else %}
                            {% set j = '' %}
                        {% endif %}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="tipo_movimiento" id="radiotipo_movimiento_{{ movimiento.descripcion }}" value="{{ movimiento.id_movimiento }}" {{ j }}>
                            <label class="form-check-label" for="radiotipo_movimiento_{{ movimiento.descripcion }}">{{ movimiento.descripcion }}</label>
                        </div>
                    {% endfor %}
                </div>

                <div class="form-group row">
                    <label for="staticDelegacion" class="col-sm-2 col-form-label">Delegación:</label>
                    <div class="col-sm-10">
                      <input type="text" readonly class="form-control-plaintext" id="staticDelegacion" value="{{ delegacion.descripcion }}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputsubdelegacion">Subdelegación</label>
                    <select class="form-control" id="inputsubdelegacion" name="subdelegacion">
                        <option value="-1" selected>Seleccione Subdelegación</option>
                        {% set subdel = subdelegacion %}
                        {% for subdelegacion in subdelegaciones %}
                            {% if subdelegacion.subdelegacion == subdel %}
                                {% set str_check = 'selected' %}
                            {% else %}
                                {% set str_check = '' %}
                            {% endif %}
                            <option value="{{ subdelegacion.subdelegacion }}" {{ str_check }}>{{ subdelegacion.subdelegacion }} - {{ subdelegacion.descripcion }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="inputPrimerApellido">Primer Apellido</label>
                    <input type="text" class="form-control" id="inputPrimerApellido" placeholder="Primer Apellido" name="primer_apellido" value="{{- primer_apellido|upper -}}">
                </div>

                <div class="form-group new-sol">
                    <label for="inputSegundoApellido">Segundo Apellido</label>
                    <input type="text" class="form-control" id="inputSegundoApellido" placeholder="Segundo Apellido" name="segundo_apellido" value={{ segundo_apellido|upper }}>
                </div>

                <div class="form-group new-sol">
                    <label for="inputNombre">Nombre(s)</label>
                    <input type="text" class="form-control" id="inputNombre" placeholder="Nombre" name="nombre" value="{{ nombre|upper }}">
                </div>

                <div class="form-group new-sol">
                    <label for="inputMatricula">Matrícula</label>
                    <input type="text" class="form-control" id="inputMatricula" placeholder="# Matrícula | TTD" name="matricula" value="{{ matricula }}">
                </div>

                <div class="form-group new-sol">
                    <label for="inputCurp">CURP</label>
                    <input type="text" class="form-control" id="inputCurp" placeholder="CURP" name="curp" maxlength="18" value="{{ curp }}">
                </div>

                <div class="form-group new-sol">
                    <label for="inputUsuario">USER-ID</label>
                    <input type="text" class="form-control" id="inputUsuario" placeholder="Usuario" name="usuario" value="{{ usuario }}">
                </div>

                <div class="form-group new-sol">
                    <label for="inputgpoActual">Grupo Actual</label>
                    <select class="form-control" id="inputgpoActual" name="gpo_actual">
                        {% for grupo0 in grupos0 %}
                            {%  if grupo0.id_grupo == gpo_actual %}
                                {% set str_check = '' %}
                            {% else %}
                                {% set str_check = '' %}
                            {% endif %}
                            <option value="{{ grupo0.id_grupo }}" {{ str_check }}>{{ grupo0.descripcion }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group new-sol">
                    <label for="inputgpoNuevo">Grupo Nuevo</label>
                    <select class="form-control" id="inputgpoNuevo" name="gpo_nuevo">
                        {% for grupo1 in grupos1 %}
                            {%  if grupo1.id_grupo == gpo_nuevo %}
                                {% set str_check = 'selected' %}
                            {% else %}
                                {% set str_check = '' %}
                            {% endif %}
                            <option value="{{ grupo1.id_grupo }}" {{ str_check }}>{{ grupo1.descripcion }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group new-sol">
                    <label for="inputcomentario">Comentario</label>
                    <textarea class="form-control" id="inputcomentario" rows="3" placeholder="Comentario" name="comentario" style="margin: 0px; width: 938px; height: 69px;">{{ comentario }}</textarea>
                </div>

                <div class="form-group new-sol">
                    <button type="submit" class="btn btn-primary">Crear Solicitud</button>
                </div>

            </form>
        </div>
    {% endif %}
    <br>
{% endblock %}

{% block js %}
    <script>
        function validateForm() {
            //var num_oficio_del = document.getElementById('inputnum_oficio_del').value.trim();
            //var fecha_valija_del = document.getElementById('inputfecha_valija_del').value.trim();
            //var archivo = document.getElementById('inputarchivo').value.trim();

            // if (fecha_valija_del === '') {
            //     swal(
            //         'Oops...',
            //         'Fecha de la Solicitud es obligatoria...',
            //         'error'
            //     );
            //
            //     return false;
            // }
        }
    </script>
{% endblock %}