{%  extends "layout.twig" %}

{% block title %}Agregar Solicitud{% endblock %}

{% block content %}

    {% if errors or errors2 %}
        {% include('partials/errors.twig')  %}
    {% endif %}

    {% if result %}
        <div class="alert alert-success">Solicitud creada!</div>
    {% else %}
        <div class="container">
            <h3 class="form-signin-heading">Registro de Nueva Solicitud</h3>
            <form class="form-inline" enctype="multipart/form-data" method="post" onsubmit="return validateForm()">

                <div class="form-group new-sol">
                    <label for="inputarchivo">Archivo</label>
                    <input class="form-control" type="file" name="archivo" id="inputarchivo" autofocus>
                </div>

                <div>
                    {#<div class="form-group new-sol">#}
                        {#<label for="inputid_valija" width="250px">Núm Oficio</label>#}
                        {#<select class="form-control" id="inputid_valija" name="id_valija">#}
                            {#<option value="0">Seleccione # de Valija/Oficio</option>#}
                        {#{% for valija in valijas %}#}
                            {#<option value="{{ valija.id_valija }}">{{ valija.num_oficio_ca }}</option>#}
                        {#{% endfor %}#}
                        {#</select>#}
                    {#</div>#}

                    <div class="form-group new-sol">
                        <label for="inputfecha_solicitud">Fecha Solicitud</label>
                        <input class="form-control" type="date" name="fecha_solicitud" id="inputfecha_solicitud" value="{{ fecha_solicitud ?? '' }}">
                    </div>

                    <div class="form-group new-sol">
                        <label>Tipo de movimiento</label>
                        <div class="radio-inline">
                            <label>
                              <input type="radio" hidden id="radiotipo_movimiento_Nulo" name="tipo_movimiento" checked value="0">
                            </label>
                        </div>

                        {% for movimiento in movimientos %}
                            {% if movimiento.id_movimiento == tipo_movimiento %}
                                {% set j = 'checked' %}
                            {% else %}
                                {% set j = '' %}
                            {% endif %}
                            <div class="radio-inline">
                                <label>
                                  <input type="radio" id="radiotipo_movimiento_{{ movimiento.descripcion }}" name="tipo_movimiento" {{ j }} value="{{ movimiento.id_movimiento }}">{{ movimiento.descripcion }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div>
                    <div class="form-group new-sol">
                        <label for="inputsubdel">Subdelegación</label>
                        <select class="form-control" id="inputsubdel" name="subdel">
                        {% for subdelegacion in subdelegaciones %}
                            {% if subdelegacion.subdelegacion == subdel %}
                                {% set str_check = 'selected' %}
                            {% else %}
                                {% set str_check = '' %}
                            {% endif %}
                            <option value="{{ subdelegacion.subdelegacion }}" {{ str_check }}>{{ subdelegacion.subdelegacion }} - {{ subdelegacion.descripcion }}</option>
                        {% endfor %}

                        </select>
                    </div>
                </div>

                <div>
                    <div class="form-group new-sol">
                        <label for="inputPrimerApellido">Primer Apellido</label>
                        <input type="text" class="form-control" id="inputPrimerApellido" name="primer_apellido" placeholder="Primer Apellido" value="{{- primer_apellido|upper -}}">
                    </div>
                    <div class="form-group new-sol">
                        <label for="inputSegundoApellido">Segundo Apellido</label>
                        <input type="text" class="form-control" id="inputSegundoApellido" name="segundo_apellido" placeholder="Segundo Apellido" value={{ segundo_apellido|upper }}>
                    </div>
                    <div class="form-group new-sol">
                        <label for="inputNombre">Nombre(s)</label>
                        <input type="text" class="form-control" id="inputNombre" name="nombre" placeholder="Nombre" value="{{ nombre|upper }}">
                    </div>
                </div>

                <div>
                    <div class="form-group new-sol">
                        <label for="inputMatricula">Matrícula</label>
                        <input class="form-control" type="text" id="inputMatricula" name="matricula" placeholder="# Matrícula | TTD" value="{{ matricula }}">
                    </div>
                    <div class="form-group new-sol">
                        <label for="inputCurp">CURP</label>
                        <input class="form-control" type="text" id="inputCurp2" name="curp" placeholder="CURP" maxlength="18" value="{{ curp }}">
                    </div>
                    <div class="form-group new-sol">
                        <label for="inputUsuario">USER-ID</label>
                        <input class="form-control" type="text" id="inputUsuario" name="usuario" placeholder="Usuario" value="{{ usuario }}">
                    </div>
                </div>

                <div class="form-group new-sol">
                    <label for="inputgpoActual">Grupo Actual</label>
                    <select class="form-control" id="inputgpoActual" name="gpo_actual">
                    {% for grupo in grupos %}
                        <option value="{{ grupo.id_grupo }}">{{ grupo.descripcion }}</option>
                    {% endfor %}
                    </select>
                </div>

                <div class="form-group new-sol">
                    <label for="inputgpoActual">Grupo Nuevo</label>
                    <select class="form-control" id="inputgpoNuevo" name="gpo_nuevo">
                    {% for grupo in grupos %}
                        <option value="{{ grupo.id_grupo }}">{{ grupo.descripcion }}</option>
                    {% endfor %}
                    </select>
                </div>

                <div>
                    <div class="form-group new-sol">
                        <label for="inputcomentario">Comentario</label>
                        <div>
                            <textarea class="form-control" name="comentario" id="inputcomentario" placeholder="Comentario" rows="4" style="margin: 0px; width: 938px; height: 69px;">{{ comentario }}</textarea>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="form-group new-sol">
                            <button class="btn btn-primary" type="submit">Crear Solicitud</button>
                    </div>
                    <div class="form-group new-sol">
                            <a class="btn btn-default" href="{{ 'admin' | url  }}">Regresar</a>
                    </div>
                </div>

            </form>
    {% endif %}
    <br>
{% endblock %}

{% block js %}
    <script>
        function validateForm() {
            //var num_oficio_del = document.getElementById('inputnum_oficio_del').value.trim();
            var fecha_valija_del = document.getElementById('inputfecha_valija_del').value.trim();
            var archivo = document.getElementById('inputarchivo').value.trim();

            if (fecha_valija_del === '') {
                swal(
                    'Oops...',
                    'Fecha de la Solicitud es obligatoria...',
                    'error'
                );

                return false;
            }
        }
    </script>
{% endblock %}