{% extends "layout.twig" %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <h3>Panel principal</h3>

    <h4>Bienvenido {{ usuario.nombre }} {{ usuario.primer_apellido }} | Delegación {{ usuario.delegacion }}</h4>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <h5><strong>Menú</strong>{{ delegacion.nombre }}</h5>
            <ul>
                <li>
                    <a href="{{ 'admin/solicitudes' | url }}">Ver status de solicitudes</a>
                </li>
                <li>
                    <a href="{{ 'admin/inventario' | url }}">Ver último inventario</a>
                </li>
                <li>
                    <a href="{{ 'admin/valijas' | url }}">Valijas</a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}

{% block info_adicional %}
    <p class="text-right">
        <a href="{{ 'auth/logout' | url }}">Cerrar sesión</a>
    </p>
{% endblock %}
