{%  extends "layout.twig" %}

{% block title %}Registrar Usuario{% endblock %}

{% block content %}

<h2>Registro de Nuevo usuario</h2>
<br>
<br>

    {% if errors %}
        {% include('partials/errors.twig')  %}
    {% endif %}

    {% if result %}
        <div class="alert alert-success">Usuario registrado! Está listo para
            <a href="{{ 'auth/login' | url }}">iniciar sesión</a></div>
    {% else %}
        <div class="container">
            <form class="form-horizontal" method="post" onsubmit="return validateForm()">
                <div class="form-group">
                    <label class="col-sm-1 control-label" for="inputCurp">CURP</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" name="curp" id="inputCurp" required autofocus placeholder="CURP" maxlength="18" value="{{ curp }}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label" for="inputdelegacion">Delegación</label>
                    <div class="col-sm-7">
                        <select class="form-control" id="inputdelegacion" name="delegacion">
                            <option value="0" selected>Seleccione Delegación</option>
                            {% for delegacion in delegaciones %}
                                <option value={{ delegacion.delegacion }}>{{ delegacion.descripcion }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label" for="inputpuesto">Cargo</label>
                    <div class="col-sm-7">
                        <select class="form-control" id="inputpuesto" name="puesto">
                            <option value="0" selected>Seleccione Puesto</option>
                            <option value="4">Jefe del Departamento de Supervisión Afiliación Vigencia</option>
                            <option value="3">Jefe de Servicios Afiliación-Cobranza</option>
                            <option value="2">Normativo DSPA</option>
                            <option value="7">Otro</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label" for="inputmail">Email</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" name="email" id="inputmail" placeholder="Email" required value="{{ email }}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label" for="inputPassword">Contraseña</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="password" name="password" required placeholder="Contraseña" id="inputPassword">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-7">
                        <button class="btn btn-primary" type="submit">Registrarse</button>
                    </div>
                </div>

            </form>
            <br>
            <p>
                <a class="btn btn-default" href="{{ '' | url }}">Regresar</a>
            </p>
        </div>
    {% endif %}
{% endblock %}

{% block js %}
    <script>
        function validateForm() {
            var title = document.getElementById('inputCurp').value.trim();
            if (title === '') {
                swal(
                    'Oops...',
                    'Campo CURP es obligatorio...',
                    'error'
                );
                return false;
            }
        }
    </script>
{% endblock %}