<html>
<head>
    <title>Blog with Platzi</title>

    {#<link rel="stylesheet" href="css/bootstrap-3.3.7/dist/css/bootstrap.min.css"/>#}
    <link rel="stylesheet" href="{{ 'css/bootstrap-3.3.7/dist/css/bootstrap.min.css' | url }}"/>

    {#<link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/6.4.4/sweetalert2.min.css">#}
    <link rel="stylesheet" href="{{ 'css/sweetalert2/dist/sweetalert2.min.css' | url }}">

    <link rel="stylesheet" href="{{ 'css/blog.css' | url }}">

</head>
<body>
<div class="container">
    <div class="row">

        <div class="col-md-12">
            <h1>Blog Title</h1>
        </div>

        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
            <div class="col-md-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus quam et sem finibus facilisis at nec libero. Aenean vitae sollicitudin erat, vel dictum elit. Duis vel urna vel lectus tempor vehicula. Nullam tincidunt quam id condimentum malesuada. Morbi id euismod elit. Etiam quis tincidunt nibh. Proin in diam quis ex hendrerit commodo. Nulla eget pulvinar felis. Duis a sem eu neque convallis egestas ac vel justo. In lacus mauris, tincidunt in libero a, ornare auctor sapien. Sed maximus neque ac felis tincidunt ultricies.
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <footer>
                    This is a footer<br>
                    <a href="{{ 'admin' | url }}">Admin Panel</a>
                </footer>
            </div>
        </div>

    </div>
</div>
<script src="{{ 'css/sweetalert2/dist/sweetalert2.all.min.js' | url }}"></script>
{#<!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support -->#}
{#<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>#}

{% block js %}{% endblock %}
</body>
</html>